<html>

<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1c3a5d">

    <!-- SEO INFORMATION -->
    <link rel="canonical" href="<%= htmlWebpackPlugin.options.canonical %>"/>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="author" content="<%= htmlWebpackPlugin.options.author %>">
    <meta name="subject" content="<%= htmlWebpackPlugin.options.subject %>">
    <meta name="og:type" content="<%= htmlWebpackPlugin.options.og.type %>">
    <meta name="og:title" content="<%= htmlWebpackPlugin.options.og.title %>">
    <meta name="og:description" content="<%= htmlWebpackPlugin.options.og.description %>">
    <meta name="og:image" content="<%= htmlWebpackPlugin.options.og.image %>">
    <meta name="og:url" content="<%= htmlWebpackPlugin.options.og.url %>">
    <meta name="og:site_name" content="<%= htmlWebpackPlugin.options.og.site_name %>">
    <meta name="og:locale" content="<%= htmlWebpackPlugin.options.og.local %>">
    <!-- END SEO -->

    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" type="image/png" href=<%= 'app/' + htmlWebpackPlugin.options['favicon'] %>>
</head>

<body>
<noscript>
    <h1 style="text-align: center">This page needs Javascript to work. Please enable it</h1>
</noscript>
<div id="container"></div>

<script type="text/javascript"
        src=<%= htmlWebpackPlugin['files']['chunks']['main']['entry'] %> async></script>
</body>

</html>